#main {
  padding: 10px;
  background-color: #f8f8f8;
}

.recommendations {
  display: flex;
}

.top {
  padding: 8px;
  font-family: 'Gotham XNarrow', Arial, Helvetica, Tahoma, sans-serif;
  font-weight: bold;
  overflow: hidden;
}

.header {
  font-size: large;
}

.disclosure {
  float: right;
  font-size: x-small;
  line-height: 2;
}

.card {
  padding: 8px;
  flex: 1;
  cursor: pointer;
  text-decoration: none;
}

.img {
  width: 100%;
}

.name {
  font-family: 'Gotham XNarrow', Arial, Helvetica, Tahoma, sans-serif;
  font-weight: bold;
  font-size: medium;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  color: black;
}

.name:hover {
  text-decoration: underline;
  color: blue;
}

.brand {
  color: gray;
  font-family: 'Gotham XNarrow', Arial, Helvetica, Tahoma, sans-serif;
  font-size: x-small;
  font-weight: bold;
}

@media screen and (max-width: 767px) {
  .recommendations {
    flex-direction: column;
  }
}
