#main {
  flex-direction: column;
  padding: 10px;
  background-color: #f8f8f8;
}

.recommendations {
  display: flex;
  flex-wrap: wrap;
}

.top {
  padding: 8px;
  font-family: 'Gotham XNarrow', Arial, Helvetica, Tahoma, sans-serif;
  font-weight: bold;
}

.header {
  font-size: large;
}

.disclosure {
  float: right;
  font-size: xx-small;
}

.card {
  padding: 8px;
  flex: 1;
}

.img {
  width: 100%;
}

.name {
  font: 'Courier';
  font-family: 'Gotham XNarrow', Arial, Helvetica, Tahoma, sans-serif;
  font-weight: bold;
  font-size: medium;
}

.brand {
  color: gray;
  font-family: 'Gotham XNarrow', Arial, Helvetica, Tahoma, sans-serif;
  font-size: x-small;
  font-weight: bold;
}
